/* .vitepress/theme/custom.css */


:root {
  --vp-c-bg: #d1d1d1;
  --vp-c-bg-alt: #f6f6f7;
  --vp-c-bg-elv: #f0f0f0;
  --vp-c-bg-soft: #e0e0e0;
  --vp-c-brand-1: #3f9c2c;
  --vp-c-brand-3: #3f9c2c;
  --vp-c-brand-2: #28691b;
}

.dark {
  --vp-c-bg: #252525;
  --vp-c-bg-alt: #292929;
  --vp-c-bg-elv: #3d3d3d;
  --vp-c-bg-soft: #181818;
}